body{
  background: linear-gradient( 45deg, grey 20%, black 60%, white 20% );
background-position: absolute;

}

h2{
  font-size: 4vh;
}
.UN {
  text-align: right;
  /*background-color: grey;*/
  
padding-bottom: 50px;
}


/***************************/
/*********SECONDE PARTIE****/
/****************************/

.DEUX {
  /*background-color: #4c66a4;
  opacity: 0.5;*/
  
  font-family: 'Slabo 27px', arial, sans-serif;
}





/*********************************************/
/*http://www.shanidkv.com/blog/flexbox-layout*/
/*****************M_E_N_U*********************/
/*********************************************/
/*
.menu{
  align-items: center;
  width: 95%;
  height: 100px;
  /*border: 50px solid red;

border-width: 30px;
border-style: solid red;

-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(rgba(0, 0, 0, 0))) 1 100%;
-webkit-border-image: -webkit-linear-gradient(red, rgba(0, 0, 0, 0)) 1 100%;
-moz-border-image: -moz-linear-gradient(red, rgba(0, 0, 0, 0)) 1 100%;
-o-border-image: -o-linear-gradient(red, rgba(0, 0, 0, 0)) 1 100%; 
border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;

  font: 14px Arial;
  color : red;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
*/

.menu > li{
  border-radius: 50%;
  text-align: center;  
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-transition: width 0.7s ease-out;  
  -webkit-transition: width 0.7s ease-out;
    
}

.menu > li:nth-child(1){border-radius: 50%; background-image: radial-gradient(circle at center, yellow, grey);
  opacity : 0.8; }

.menu > li:nth-child(2){border-radius: 50%; background-image: radial-gradient(circle at center, yellow, grey);
  opacity : 0.8; }

.menu > li:nth-child(3){border-radius: 50%; background-image: radial-gradient(circle at center, yellow, grey);
  opacity : 0.8; }

.menu > li:hover{
 
  }


a{border-radius: 50%;
  text-decoration: none;
}

h1: hover{ text-align: center;
text-decoration: none;
}
.menu > li:nth-child(1) :hover{color : cyan; text-align: center;font-size: 50px;
  

}
.menu > li:nth-child(2) :hover{color : cyan; text-align: center;font-size: 50px;
}
.menu > li:nth-child(3) :hover{color : cyan; text-align: center;font-size: 50px;
}



/*******************************************/
/*http://codepen.io/melnik909/pen/JKzEbG*/
/*******************************************/


/* {
  margin: 0;
  padding: 0;
}*/


.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.menu__item {
  list-style: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.menu__link,
.menu__label {
  display: inline-block;
}
.menu__link {
  background-image: url(images/img2.png);
  background-size: cover;
  font-size: 3vw;
  color: cyan;/*#D1C4E9;*/
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.2em 1.5em;
}
/*
 * effect
 */
.menu__link {
  position: relative;
  overflow: hidden;
}
.menu__link:before,
.menu__link:after {
  content: "";
  display: block;
  width: 80%;
  height: .05em;
  position: absolute;
  left: 0px;
  -webkit-transition: opacity 2s ease-out, -webkit-transform 2s ease-out;
          transition: opacity 2s ease-out, -webkit-transform 2s ease-out;

          transition: transform 2s ease-out, opacity 2s ease-out;
          transition: transform 2s ease-out, opacity 2s ease-out, -webkit-transform 2s ease-out;
}
.menu__link:before {
  top: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.menu__link:after {
  bottom: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.menu__link:hover,
.menu__link:focus {
  color: white;/*#fff*/ /*ne fonctionne pas*/
  outline: none;            /*--------Attention : gestion des class: risq conflit item, link, label----*/
}


.menu__link:hover:before,
.menu__link:focus:before,
.menu__link:hover:after,
.menu__link:focus:after,
.menu__link:hover .menu__label:before,
.menu__link:focus .menu__label:before,
.menu__link:hover .menu__label:after,
.menu__link:focus .menu__label:after {
  background-color: white;                       /*couleur du contour*/
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 0.8;                                 /*donne un effet degradé au contour, à opacity : 1 : noir complet*/
}


.menu__link .menu__label:before,
.menu__link .menu__label:after {
  content: "";
  display: block;
  width: .05em;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 2s ease-out, -webkit-transform 2s ease-out;
          transition: opacity 2s ease-out, -webkit-transform 2s ease-out;
          transition: transform 2s ease-out, opacity 2s ease-out;
          transition: transform 2s ease-out, opacity 2s ease-out, -webkit-transform 2s ease-out;
}
.menu__link .menu__label:before {
  left: 0;
  -webkit-transform: translate3d(0%, -100%, 0);
          transform: translate3d(0%, -100%, 0);
}
.menu__link .menu__label:after {
  right: 0;
  -webkit-transform: translate3d(0%, 100%, 0);
          transform: translate3d(0%, 100%, 0);
}





/************************************/
/********* class "TROIS" = CARROUSEL*/
/************************************/




#stage2{ 
height: 160px;
padding-bottom: 250px;
padding-top: 50px;
}

#spinner{
-webkit-transform-origin: 30% 0  ;   /*distance de rotation, centre de rotation stage1*/ 
        transform-origin: 30% 0 ;
}


#spinner .img1{ 
  -webkit-transform: rotateY(0deg) translateX(270px);
          transform: rotateY(0deg) translateX(270px); 
  padding: 0 0 0 10px;
}

#spinner .img2{
 -webkit-transform: rotateY(-60deg) translateX(270px);
          transform: rotateY(-60deg) translateX(270px);
  padding: 0 0 0 10px;
}
#spinner .img3{
 -webkit-transform: rotateY(-120deg) translateX(270px);
          transform: rotateY(-120deg) translateX(270px); 
 padding: 0 0 0 10px;
}
#spinner .img4{
  -webkit-transform: rotateY(-180deg) translateX(270px); 
          transform: rotateY(-180deg) translateX(270px); 
  padding: 0 0 0 10px;
}
#spinner .img5{ 
  -webkit-transform: rotateY(-240deg) translateX(270px);
        transform: rotateY(-240deg) translateX(270px); 
  padding: 0 0 0 10px;
}
#spinner .img6{
  -webkit-transform: rotateY(-300deg) translateX(270px);
        transform: rotateY(-300deg) translateX(270px); 
  padding: 0 0 0 10px;

}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(-90deg);
            -transform: rotateY(-90deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

#stage2 {
  
  margin: 5em auto;
  -webkit-perspective: 1500px;/* rotation désaxée : effet parabole avec px faible*/
  perspective: 1500px;
}

#spinner {
  -webkit-animation-name: spinner;
    animation-name: spinner;

  -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  
  -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  
  -webkit-animation-duration: 18s;
    animation-duration: 18s;
  
  -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#spinner:hover {
  -webkit-animation-play-state: paused;
    animation-play-state: paused;          /*https://developer.mozilla.org/fr/docs/Web/CSS/animation-play-state*/

}

#spinner .img1, .img2, .img3, .img4, .img5,.img6 {
  position: absolute;
  border: 10px solid #ccc;
  /*background: rgba(255,255,255,0.8);*/
  box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
box-shadow: 2px 5px 5px black;
}







/***********************************/
/*****FACEBOUK**********************/
/***********************************/

section
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background-attachment : fixed;
 background-image: linear-gradient( 50deg, blue, green 40%, red );
list-style-type: none;

}


#header_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#4c66a4;
}
#header
{
 width:980px;
 margin:0px auto;
 padding:0px;
 height:85px;
}
#header li
{
 list-style-type:none;
 float:left;
 text-align:left;
 color:white;
}
#header #sitename
{
 margin-top:25px;
}
#header #sitename a
{
  padding-left: 25px;
 color:white;
 text-decoration:none;
 font-size:30px;
 font-weight:900;
}
#header form
{
 margin-top:15px;
 float:right;
}
#header form li
{
 font-size:13px;
 margin-left:15px;
}
#header form li a
{
 color:#A9BCF5;
 text-decoration:none;
}


#header form input[type="text"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
}
#header form input[type="password"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
}
#header form input[type="submit"]
{
 height:25px;
 margin-top:20px;
 background-color:#084B8A;
 color:white;
 border:1px solid #08298A;
}


#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:980px;
}
#wrapper div
{
 float:left;
 font-family: helvetica, arial, sans-serif;
}
#wrapper #div_gauche
{

 margin-top:30px;
 width:590px;
 text-align:left;
}
#wrapper #div_gauche p
{
 font-size:20px;
 font-family:arial;
 font-weight:bold;
 margin:0px;
 color:#0e385f;
}
#wrapper #div_droite
{
 margin-top:10px;
 width:390px;
 text-align:left;
}
#wrapper #div_droite h1
{
 margin:0px;
 font-size:37px;
 color:#2E2E2E;
}
#wrapper #div_droite p
{
 font-size:18px;
 color:#2E2E2E;
}
#wrapper #div_droite li
{
 list-style-type:none;
 margin-top:10px;
}
#wrapper #div_droite li #firstname
{
 width:49%;
}
#wrapper #div_droite li #surname
{
 margin-left:2%;
 width:49%;
}
#wrapper #div_droite li input[type="text"]
{
 width:49%;

 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#wrapper #div_droite li input[type="password"]
{
 width:49%;

 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#wrapper #div_droite li select
{
 padding:4px;
 float:left;
}
#wrapper #div_droite li a
{
  background-color : cyan;
 margin-left:10px;
 width:150px;
 color:#045FB4;
 text-decoration:none;
 font-size:11px;
 display: inline-block;
 vertical-align: middle;
 line-height:15px;
}
#wrapper #div_droite li a:hover
{
 text-decoration:underline;
}
#wrapper #div_droite li
{
 color:#2E2E2E;
 font-size:18px;
}
#wrapper #div_droite #terms
{
 color:#424242;
 font-size:11px;
}
#wrapper #div_droite #terms a
{
 display:inline;
 margin:0px;
}
#wrapper #div_droite li input[type="submit"]
{
 width:205px;
 height:45px;
 text-align:center;
 font-size:19px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
 font-weight: bold !important;
 background-image: linear-gradient(#67ae55, #578843);
 background-color: #69a74e;
 box-shadow: inset 0 1px 1px #a4e388;
 border-color: #3b6e22 #3b6e22 #2c5115;
 border: 1px solid;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#wrapper #div_droite #create_page
{
 color:#424242;
 font-size:13px;
 font-weight:bold;
}
#wrapper #div_droite #create_page a
{
 display:inline;
 margin:0px;
 font-size:13px;
}






/*flip card dans div_droite*/

/* entire container, keeps perspective */
.flip-container {
    perspective: 2000px;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(-180deg);
    }

.flip-container, .front, .back {
    width: 320px;
    height: 480px;

}

/* flip speed goes here */
.flipper {
    transition: 1.6s;
    transform-style: preserve-3d;

    position: absolute;/*relative*/
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(-180deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(0deg);


}

/*fin flip_card*/








#footer_wrapper
{
 width:100%;
 clear:both;
float: right; 
 margin-top:130px;
 min-width:995px;
 /*background-color:white;*/
 text-align:right;
}








/*--------------------*/
/*AJOUT CSS  CUBE GRID*/
/*effet dalles carrées
/*fonctionne sous firefox ET Chrome
/*--------------------*/




.sk-cube-grid {
  width: 140px;
  height: 140px;
  margin: 10px auto;
  background-image: url(images/slim.png);
  background: linear-gradient( 45deg, black, grey 30%, white );
  background-size: cover;
  border-radius: 50%;
text-align: right;
border-top-right-radius: 0;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #4C66A4; /*facebook color*/
  background: linear-gradient( 45deg, black 20%, grey 30%, white);
text-align: right;



  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 15s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 15s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s; }

.sk-cube-grid .sk-cube2 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s; }

.sk-cube-grid .sk-cube3 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s; }
.sk-cube-grid .sk-cube4 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s; }
.sk-cube-grid .sk-cube5 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s; }
.sk-cube-grid .sk-cube6 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

.sk-cube-grid .sk-cube7 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s; }

.sk-cube-grid .sk-cube8 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s; }
.sk-cube-grid .sk-cube9 {border-radius: 20px 0 20px  20px;
  -webkit-animation-delay: 8.6s;
          animation-delay: 8.6s; }

.sk-cube .sk-cube9 img {
border-radius: 20px 0 20px  20px;
}




@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}





